/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -125px;
}



/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}


/* 我的装备 */
.equipment-item-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.equipment-item-content-item {
  width: calc(25% - 12px);
  border-radius: 12px;
  border: var(--style-border-always);
  overflow: hidden;
  margin: 8px 6px;
  background: var(--heo-card-bg);
  box-shadow: var(--heo-shadow-border);
  min-height: 400px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .equipment-item-content-item {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 768px) {
  .equipment-item-content-item {
    width: 100%;
  }
}

.equipment-item-content-item-info {
  padding: 8px 16px 16px 16px;
  margin-top: 12px;
}

.equipment-item-content-item-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

.equipment-item-content-item-specification {
  font-size: 12px;
  color: var(--heo-secondtext);
  line-height: 1;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equipment-item-content-item-description {
  line-height: 20px;
  color: var(--heo-secondtext);
  height: 60px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

a.equipment-item-content-item-link {
  font-size: 12px;
  background: var(--heo-gray-op);
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

a.equipment-item-content-item-link:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

h2.equipment-item-title {
  line-height: 1;
}

.equipment-item-description {
  line-height: 1;
  margin: 4px 0 8px 0;
  color: var(--heo-secondtext);
}

.equipment-item-content-item-cover {
  width: 100%;
  height: 200px;
  background: var(--heo-secondbg);
  display: flex;
  justify-content: center;
}

img.equipment-item-content-item-image {
  object-fit: cover;
  height: 100%;
}

div#equipment {
  margin-top: 26px;
}

.equipment-item-content-item-toolbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  padding: 0 16px;
}

a.bber-reply {
  cursor: pointer;
}